.title {
  font-size: 72px;
  line-height: 70px;
  font-weight: 600;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}